# Python bytecode files
__pycache__/
.pytest_cache/
*.pyc

# Test coverage reports
.coverage
coverage.*
htmlcov/

# Environment variables
.env*

# Environment folders
.venv/
venv/

# Flask files
instance/

# Frontend files
node_modules/
dist/
build/
package-lock.json
coverage/

# VSCode settings
.vscode/
